
.app, .head-app {
  display:flex;
  flex-direction: column;
}
.app {
  margin-left: 2em;
}
.head-app {
  width: 50%;
}
.button {
  width: 10em;
}
.body-app {
  display: flex;
}
.sub-block:not(:last-child) {
  margin-right: 1.5rem;
}